<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/styles.css">

</head>

<body>
    <%- include("../partials/sidebar.ejs") %>
        <main id="contenedores">
            <h1>contenedores</h1>


            <ul>
                <% contenedores.forEach(c=> { if (c.estado === "Alquilado") { %>
                    <li>
                        <%= c.id %> | <%= c.estado %> | <%= c.cliente %> | <%= c.inicioAlquiler %> | <%= c.finAlquiler
                                            %>
                    </li>
                    <% }else{%>
                        <li>
                            <%= c.id %> | <%= c.estado %>
                        </li>
                        <% } }) %>
            </ul>
        </main>



        <script src="/javascript/sidebar.js"></script>
</body>

</html>