<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/styles.css">

</head>

<body>
    <%- include('../partials/nav') %>

        <main id="ventas" class="ventas-layout">
            <section class="productos">
                <ul class="lista-productos">
                    <% productos.forEach(p=> { %>
                        <% if (p.stock> 0) { %>
                            <li>
                                <div class="cards_main">
                                    <b>
                                        <%= p.producto %>
                                    </b>
                                    <b>
                                        <%= p.id %>
                                    </b>
                                    <b>$<%= p.precio %></b>
                                    <button class="addToCart" data-id="<%= p.id %>" data-nombre="<%= p.producto %>"
                                        data-precio="<%= p.precio %>">
                                        Agregar
                                    </button>
                                </div>
                            </li>
                            <% } else { %>
                                <li>
                                    <div class="cards_main sin-stock">
                                        <b>
                                            <%= p.producto %>
                                        </b>
                                        <b>
                                            <%= p.id %>
                                        </b>
                                        <b>$<%= p.precio %></b>
                                        <button disabled class="addToCart" data-id="<%= p.id %>" data-nombre="<%= p.producto %>"
                                            data-precio="<%= p.precio %>">
                                            Agregar
                                        </button>
                                    </div>
                                </li>
                                <% } %>
                                    <% }) %>
                </ul>
            </section>

            <aside id="carrito">
                <h3>Carrito</h3>
                <div id="cart">
                    <ul id="cart_items"></ul>
                </div>
            </aside>
        </main>
        <script src="/javascript/ventas.js"></script>
</body>

</html>